<form action="/books/upsert" role="form" method="post">
  <div>
    <h1>Books form</h1>
    <label for="bookTitle">Title</label>
    <input type="text" id="bookTitle" name="title" {{#if book}}value="{{book.title}}"{{/if}}>
  </div>
  <div>
    <label for="bookYear">Year published</label>
    <input type="text" id="bookYear" name="publishingYear" {{#if book}}value="{{book.publishingYear}}"{{/if}}>
  </div>
   <div class="mb-3">
    <label for="author_id">Author</label>
    <select name="authorIds" multiple id="authorIds">
      <option disabled value>-- select Author --</option>
      {{#each authors}}
        <option value="{{@index}}"
          {{#if (and @root.book (in @root.book.authorIds @index))}}selected{{/if}}>
            {{this.firstName}} {{this.lastName}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="genre_id">Genre</label>
    <select name="genreIds" multiple id="genreIds">
      <option disabled value>-- select Genre --</option>
      {{#each genres}}
        <option value="{{@index}}"
          {{#if (and @root.book (in @root.book.genreIds @index))}}selected{{/if}}>  {{!--creating genre election box in book form view--}}
            {{this.genreName}}
        </option>
      {{/each}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  {{#if book}}
    <div>
      <h2>{{book.firstName}} {{book.lastName}}</h2>
      <input type="hidden" name="id" value="{{bookIndex}}">
    </div>
  {{/if}}
</form>